[Unit]
Description=Metabase service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/pentaho/metabase
#path to executable: executable is a bash script which calls jar file
ExecStart=/opt/pentaho/metabase/start_meta.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
